.root {
  position: relative;

  img {
    width: 100%;
    height: 100%;
  }

  .close {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    right: 2px;
    background-size: 100% 100%;
  }

}